/* Add here all your css styles (customizations) */

.logo_container { /* background-color: #da251c */}

.top_logo { height: 75px }


.easy-block-v1 .easy-block-v1-badge-2  {
    /* left: 0px; */
    /* top: 10px; */
    z-index: 1;
    color: #fff;
    padding: 4px 10px;
    position: relative;
    /* text-align: right; */
    /* font-weight: bold; */
    /* color: black; */
    width: 50%;
    text-align: center;
    margin: 0 auto 15px;
    padding: .25em 0 0 0;
    font-weight: bold
}


.footer-v1 .footer {
	background-color: #555
}

.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
    color: #fff;
}

.wrapper { background-color: #f3f3f3 }
.grid-boxes-in { background-color: #fff}

.blog-item,
.col-md-9.md-margin-bottom-60,
.col-md-3.magazine-page,
.blog.margin-bottom-40 { background-color: #fff; font-size: 16px }

/* submit a story classes */
.message.error,
.error-message { color: red; }

.message.success { color: green; }

.blog_masonry_3col h3 {
    color: #000;
    font-weight: 600;
}

.blog_masonry_3col h3 a {
  color: #000;  
}

.breadcrumbs h1.article-title {
    color: #000;
    font-weight: 900;
    font-family: arial;
}

.clearboth { clear: both;}

.h2style{color:#eee;font-size:18px;font-weight:200;border-bottom:2px solid #da251c;margin:0 0 -2px;padding-bottom:5px;display:inline-block;font-family:Open\ Sans,Arial,sans-serif;text-shadow:none;line-height:33px}


.badge-block { border-radius:2px}